:root {
  --main-theme-1: #0f044c;
  --main-theme-2: #141e61;
  --main-theme-3: #787a91;
  --main-theme-4: #eeeeee;
}

<<<<<<< HEAD
=======
body {
  background-color: var(--main-theme-2);
  color: white;
  font-family: Lato, sans-serif;
}
>>>>>>> c5b4fad9e3a41611e76508b3b65f3214ac4d355f
